:root {
    --backgroundColour: black;
    --secondBackgroundColour: white; 
    --fontFamTitle: delius, serif;
    --fontFamMain: helvetica, serif;
}

* {
    object-fit: contain;
    box-sizing: border-box;
}

body {
    background-color: var(--backgroundColour);
    color: white;
    font-family: var(--fontFamTitle);
    font-weight: 300;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center; 
    min-height: 100vh;       
    overflow-x: hidden;      
    overflow-y: auto;
}

.outerBox {
    border: solid 0.3rem white;
    padding: 1rem 3rem;
    min-width: 15rem;
    min-height: 25rem;
    max-width: 90vw;
    overflow: hidden;
}

.heading {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

h1 {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
    font-family: var(--fontFamTitle);
}

.screen {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score-players {
    margin: 1rem;
}

.score {
    text-align: center;
    margin-bottom: 0;
}

.game {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 90vw;
}

.playerScore,
.computerScore {
    border: 1px solid white;
    margin: 0 10rem;
    padding: 0.5rem 2rem;
    font-size: 20px;
    font-weight: bold;
    visibility: hidden;
}

.computerName,
.playerName {
    visibility: hidden;
}

.playerImage,
.computerImage {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 15rem;
    min-width: 5rem;
}

.outcome {
    text-align: center;
    font-size: 18px;
}

.options {
    display: flex;
    justify-content: space-evenly;
}

button {
    border: 1px solid white;
    background-color: var(--backgroundColour);
    color: white;
    font-size: 20px;
    font-family: var(--fontFamTitle);
    margin: 2rem 1rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    
}