:root {
    --backgroundColour: black;
    --secondBackgroundColour: white; 
    --fontFamTitle: delius, serif;
    --fontFamMain: helvetica, serif;
}

* {
    object-fit: contain;
    box-sizing: border-box;
}

body {
    background-color: var(--backgroundColour);
    color: white;
    font-family: var(--fontFamTitle);
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.outerBox {
    border: solid 0.3rem white;
    padding: 1rem 3rem;
    min-width: 15rem;
    min-height: 25rem;
    max-width: 90vw;
    overflow: hidden;
}

.heading {
    display: flex;
    justify-content: center;
    border: 2px dashed red;
    overflow: hidden;
}

h1 {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
    font-family: var(--fontFamTitle);
    border: 1px dashed blue;
}

.screen {
    border: solid 0.1rem white;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score-players {
    margin: 1rem;
}

.score {
    text-align: center;
    margin-bottom: 0;
    border: solid 1px orange;
}

.game {
    display: flex;
    justify-items: center;
}

.scoreTitle {
    margin: 1rem;
    font-weight: 300;
    font-family: var(--fontFamTitle);
}

.scoreNo {
    text-align: center;
    display: flex;
    justify-content: space-around;
    border: 1px solid green;
    min-height: 1vw;
    padding: 0.5rem;
}

.playerScore,
.computerScore {
    border: 1px solid white;
    margin: 0 10rem;
    padding: 0.5rem 2rem;
    font-size: 20px;
    font-weight: bold;
}

.players {
    display: flex;
    justify-content: space-around;
    border: 1px solid yellow;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    border: 1px solid purple;
}

.playerImage,
.computerImage {
    width: 40%;
    height: auto;
    object-fit: contain;
    max-width: 15rem;
    max-height: 15rem;
    min-width: 5rem;
    min-height: 5rem;
    border: solid 1px blue;
}